<nav>
   <h1> Tiny App </h1>
      <a href="/urls/"> Tiny URLS List</a>
      <a href="/urls/new"> Make a new tiny URL</a>
      <a href="/login">Login</a>
      <a href="/register"> Register </a>
</nav>


</h3>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>

