<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h1> URLS </h1>

  <% if (urlList == {}) { %>
    Add a url
  <% } else { %>

    <% for(var list in urlList) { %>
        <li> <%= "Short URL"  + list + ": Long URL" + list.longURL  %> </li>

    <% } %>
      <li> <a href ="#" target = "_blank"> new link for shortening URL </a></li>
  <% } %>
</body>




