<a href="/login"><button>Login</button></a> <a href="/register"><button>Register</button></a>

      <form action="/register" method="POST" style="margin:150px;">
      <label for="email">Enter an Email:</label>
      <input id="email" type="text" name="email" style="width: 300px">
      <label for="password"> Enter a password: </label>
      <input id="password" type="text" name="password" style="width:300px">
      <input type="submit" value="Enter">