
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include ./partials/_header %>
    <nav>
   <a href="/urls/"> Tiny URLS List</a>
   <a href="/urls/new"> Make a new tiny URL</a>
 </nav>
  </header>

   <% include ./partials/_header %>
  <h1> URL </h1>
  <%= shortURL %>
  <%= urls[shortURL]%>

  <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
</body>
</html>

