


<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>
  <h1> URLS  </h1>

  <% for(var url in urls) { %>

        <li>
          <%= url + ': ' + urls[url] %>
          <a href="urls/<%= url %>">Edit</a>a
          <form action ="/urls/<%= url %>/delete" method = "POST">
            <input type ="Submit" value="DELETE">
             <%= username %>
          </form>
        </li>
      <% } %>

</body>
</html>
