<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<% if (userinfo === undefined){ %>
<h2>You are not logged in. Please <a href="/login">login</a></h2> <h2>or<a href="/register">register</a></h2>

<% } else { %>

  <header>
    <% include ./partials/_header %>
  </header>

  <h4> <% "You are logged in as" + userinfo.email %>

  <h1> URLS </h1>


    <% for (var list in url) { %>

        <li> <%= "Short URL"  + url[list].shortURL + ": Long URL" + url[list].longURL  %> </li>
          <form action ="/urls/<%= url %>/delete" method = "POST">
 +        <input type ="Submit" value="DELETE">
    <% } %>

  <% } %>

</body>




