


<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h1> URLS </h1>
   <% for(var url in urls) { %>
        <li><%= url + ': ' + urls[url] %></li>
      <% } %>
      <li> <a href ="#" target = "_blank"> new link for shortening URL </a></li>
</body>
</html>
